<nav class="teal lighten-1">
<div class="nav-wrapper">
    <div class="row">
    <div class="col s10 offset-s1">
        <a href="/" class="brand-logo offset-m2"> Underscore_</a>
    </div>
    <div class="col s11">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{#if user}}
            <li><a href="/posts">Feed</a></li>
            <li><a href="/posts/new">New Post</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            {{else}}
            <li><a href="/auth/google">Login</a></li>
            {{/if}}
        </ul>
    </div>
    </div>
</div>
</nav>
    