<nav>
    <div class="nav-wrapper">
        <ul>
            <li><a href="/posts" class="brand-logo offset-m3">
                <img class="logo-header brand-logo" src="/img/underscore-logo4-shadow.png">
            </a></li>
            {{!-- <li><i class="fa fa-chrome"></i><a class="grey-text text-lighten-3" href="https://chrome.google.com/webstore/category/extensions?hl=en"> Get the Extension!</a></li> --}}
        </ul>
        <div id="nav-mobile" class="hide-on-med-and-down">
            <ul class="right">
                {{#if user}}
                {{!-- <li>    
                    <form>
                        <div class="input-field">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                        </div>
                    </form>       
                </li>      --}}
                <li><a href="/posts">Feed</a></li>
                <li><a href="/my-posts">My Posts</a></li>
                <li><a href="https://chrome.google.com/webstore/category/extensions?hl=en"><i class="fa fa-chrome"></i> Integrate</a></li>
                <li><a href="/posts/new"><i class="material-icons">add</i></a></li>
                <li><a href="/account"><i class="material-icons">person</i></a></li>
                <li><a href="/auth/logout">Logout</a></li>
                {{else}}
                <li><a href="/auth/google">Login</a></li>
                {{/if}}
            </ul>
        </div>
        <form class="search-bar hide-on-med-and-down" action="/posts/search" method="get">
            <div class="input-field">
                <input id="search" type="search" name="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>
</nav>