{{!-- {{#if success_msg}}
<div class="alert alert-success alert-dismissable fade show">
    {{success_msg}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

{{#if error_msg}}
<div class="alert alert-danger alert-dismisable fade show">
    {{error_msg}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}} --}}

{{#if success_msg}}
<body onload="M.toast({html: '{{success_msg}}', classes: 'green'})"></body>
{{/if}}

{{#if error_msg}}
<body onload="M.toast({html: '{{error_msg}}', classes: 'red'})"></body>
{{/if}}