<div class="jumbotron text-center">
    <h1 class="display-3">Underscore</h1>
    <p class="lead">Welcome to the Underscore network!</p>
    {{#if user}}
    {{else}}
    <a href="/auth/google">
        <img src="/img/web-google-login/2x/btn_google_signin_light_normal_web@2x.png" alt="Login With Google" class="google-button pb-2"></a>
    {{/if}}
</div>