<div class="row">
    <div class="col s4">
        <div class="vert-align">
            <a href="https://chrome.google.com/webstore/category/extensions">
                <img class="logo" src="/img/underscore-logo4-shadow.png">
            </a>
        </div>
    </div>
    <div class="col s8">
        <div class="vert-align">
            <h1 class="title white-text">Underscore_</h1>
            <blockquote class="flow-text white-text">Welcome to the Underscore network!</blockquote>
            <div>
                    <a href="/auth/google">
                        <div class="card hoverable">
                            {{!-- <div class="card-content">
                                <img class="google-button" src="img/google-logo.png" alt="Login With Google">Login With Google
                            </div> --}}
                            {{!-- <img class="google-button" src="/img/web-google-login/2x/btn_google_signin_light_normal_web@2x.png" alt="Login With Google"> --}}
                            <img class="google-button" src="/img/google-sign-in4.png" alt="Login With Google">
                        </div>
                    </a>
                    <a href="https://chrome.google.com/webstore/category/extensions">
                        <div class="card hoverable">
                            <img class="chrome-button" src="img/ChromeWebStore_Badge_v2_496x150.png">
                        </div>
                    </a>
            </div>
        </div>
    </div>
</div>

{{!-- <div>
    <div class="center-align">
        <div class="container">
            <h1 class="title grey-text text-lighten-3">Underscore</h1>
            <blockquote class="flow-text">Welcome to the Underscore network!</blockquote>
            <a href="/auth/google">
                <img src="/img/web-google-login/2x/btn_google_signin_light_normal_web@2x.png" alt="Login With Google" class="google-button">
            </a>
        </div>
    </div>
</div> --}}