<div class="row">
    <div class="col s12">
        <ul class="tabs tabs-swipe">
            <li class="tab col s6">
                <a href="#stream">Stream</a>
            </li>
            <li class="tab col s6">
                <a href="#grid">Grid</a>
            </li>
        </ul>
    </div>
    <div id="stream" class="col s12">
        <div class="container">
            {{> _stream}}
        </div>
    </div>
    <div id="grid" class="col s12">
       <div class="container">
            {{> _grid}}
        </div>
    </div>
</div>