<h1>New Post</h1>
<div class="row">
    <form action="/posts" method="post" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="url" name="link" class="validate" required="" aria-required="true">
                <label for="link">Link</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select name="visib" class="validate" required="" aria-required="true">
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                </select>
                <label for="visib">Visibility</label>
            </div>
        </div>

        <div class="row">
            <p>
                <label>
                    <input type="checkbox" name="allowComments" class="filled-in" id="filled-in-box" checked="checked" class="validate" required="" aria-required="true">
                    <span>Allow Comments</span>
                </label>
            </p>
        </div>

        <div class="row">
            <div class="input-field">
                <textarea id="snippet" name="snippet" class="materialize-textarea" class="validate" required="" aria-required="true"></textarea>
                <label for="snippet">Snippet</label>
            </div>
        </div>

        <input type="submit" value="save" class="btn">
    </form>
</div>
{{!-- <div class="card card-body">
    <h3>New Post</h3>
    <form action="/posts" method="post">
        <div class="form-group">
            <label for="link">Link</label>
            <input type="url" class="form-control" name="link" required>
        </div>

        <div class="form-group">
            <label for="snippet">Snippet</label>
            <textarea class="form-control" name="snippet" required></textarea>
        </div>

        <div class="form-group">
            <label for="visib" class="pr-2">Visibility</label>
            <select name="visib">
                <option value="public" selected>Public</option>
                <option value="private">Private</option>
            </select>
        </div>

        <div class="form-group">
            <label for="allowComments" class="pr-2">Allow Comments</label>
            <input type="checkbox" name="allowComments" class="filled-in" id="filled-in-box" checked="checked">
        </div>

        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</div> --}}